body {
  margin: 0;
  padding: 0;
  background-color: #ffcd9e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  align-items: justify;
  background-color: #ffcd9e;
  margin-left: 10%;
}

.h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 60%;
  text-align: left;
  height: 108px;
  margin-top: 83px;
  line-height: 60px;
  font-size: 25px;
  color: #282828;
}

.para1 {
  font-family: "Inter", sans-serif;
  width: 600px;
  height: 81px;
margin-top: 15px;
font-size: 23px;
font-weight: 500;
line-height: 32px;
text-align: left;
color: #484848;

}
.img1{
position: absolute;
margin-left: 55%;
margin-top: 2%;

}
.para2 {
  font-family: "Inter", sans-serif;
  width: 495px;
  font-size: 20px;
  height: 81px;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #484848;


}

input[type=text]{
    width: 400px;
    height: 64px;
    margin-top: 50px;
    border-radius: 7px;
    border: 4px solid black;
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #888888;


}
.button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 216px;
height: 64px;
border-radius: 8px;

}

.footer{
display: flex;
    width: 100%;
    height: 200%;
    background: black;
    margin-top: 5%;
    justify-content: space-between;
    align-items: center

}

.footerpara1{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 10%;
    line-height: 50px;

}
.footerpara2{

    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-right: 5%;
    line-height: 50px;


}

.img3{
    position: absolute;
    margin-left: 35px;
}

.para5{
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin-right: 5%;
    line-height: 50px;
}